::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:root {
	--bar-width: 60px;
	--bar-height: 4px;
	--hamburger-gap: 6px;
	--foreground: #333;
	--background: white;
	--hambueger-margin: 5px;
	--animation-timing: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height)) * 3 + var(
	(--hamburger-gap) * 2);
}


.hamburger-menu {
	--x-width: calc(var(--hamburger-height)) * 1.414213562);
	
	display: flex;
	flex-direction: column;
	gap: var(--hamburger-gap);
	width: max-content;
	position: absolute;
	top: var(--hambueger-margin);
	left: var(--hambueger-margin);
	z-index: 2;
	cursor: pointer;
}

.hamburger-menu:has(input:checked) {
	--foreground: white;
	--background: black;
}	 

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
	content: "";
	width: 40px;
	height: var(--bar-height);
	background-color: var(--foreground);
	border-radius: 2px;
	transform-origin: left;
	transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
	width: 40px;
	transition: rotate var(--animation-timing) background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::after {
	width: 40px;
	transition: rotate var(--animation-timing) background-color var(--animation-timing);
}

.hamburger-menu input {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}

.hamburger-menu input:checked {
	opacity: 0;
	width: 0;
	
}

.sidebar {
	transition: translate var(--animation-timing);
	padding-top: 20px;
	background-color: rgba(32,32,32, 0.3);
	color: var(--background);
	width: 100%;
	display: none;
	text-align: center;
}

.hamburger-menu:has(input:checked) + .sidebar {
	display: block;
	position: absolute;
	transition: display var(--animation-timing);
}

.test {
	padding-top: 20px;
}

article {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-left: solid 5px black;
	border-right: solid 5px black;
}

header {
	position: sticky;
	top: 0;
	box-shadow: 1px 12px 42px -1px rgba(0,0,0,0.17);
-webkit-box-shadow: 1px 12px 42px -1px rgba(0,0,0,0.17);
-moz-box-shadow: 1px 12px 42px -1px rgba(0,0,0,0.17);
}

.caput {
	width: 100%;
	background: rgb(233,121,121);
background: rgb(246,188,188);
background: linear-gradient(90deg, rgba(246,188,188,1) 0%, rgba(242,249,212,1) 18%, rgba(216,255,211,1) 84%, rgba(177,233,245,1) 100%);
}